<app-child1 [child1MessageFromParent1]="parent1MessageToChild1"></app-child1>

<hr />

<app-child2 (messageFromChild2)="onMessageRecievedFromChild2($event)">
</app-child2>
<p *ngIf="parent1MessageFromChild2">{{parent1MessageFromChild2}}</p>
