<a (click)="changeFromParent()">Add 1 to the number</a>
<br />
<app-child [parentData]="data"></app-child>

<a (click)="updateUser()">Update Name</a>
<br />
<app-child [username]="user"></app-child>

<hr />

<a (click)="clickMe()">Click me</a>

<hr />

<a (click)="update()">Update</a><br />
<app-child *ngIf="showChild"></app-child>