<div *ngIf="parentData">
  <a (click)="changeFromChild()">Subract 1 to the number</a>
  <br />
  {{ parentData }}
  <br />
</div>

<hr />

<div *ngIf="username">
  Here is the user name: {{ username ? username.name : "No Data Found" }}
</div>

